<html>
<body>

<form action="unregister" method="post">


<table align=center>
<tr>
<td><label color=white>Name</label></td>
<td><input type=text name=name size=30 autofocus required placeholder="Your name"></td>
</tr>

<tr>
<td><label color=white>Role </label></td>
<td><input type=text name=role size=30 autofocus required placeholder="Your role no"></td>
</tr>

<tr>
<td><label color=white>Birth Date </label></td>
<td><input type=date name=dob size=30 autofocus required placeholder="Date of Birth"></td>
</tr>

<tr>
<td><label color=white>Mobile</label></td>
<td><input type=date name=mobile size=30 autofocus required placeholder="Phone no"></td>
</tr>

<td colspan=4 align=center>
<input type=submit style="padding:4px; font-size:80%; background-color:orange" value="SUBMIT" name="debit">
</td>
</tr>

</table>
</form>
<body>
</html>

